.container {
  max-width: 1056px;
  margin: 0 auto;
}

/* typography */
.text {
  font-size: 15px;
  line-height: 22.5px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 150%;
}

.text-sm {
  font-size: .875rem;
  line-height: 150%;
}

.text-x-sm {
  font-size: .75rem;
  line-height: 150%;
}

.heading {
  font-size: 2.53rem;
  font-weight: 500;
  letter-spacing: -.02em;
  line-height: 110%;
}

.heading-md {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -.24px;
  line-height: 130%;
}

/* layout */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

/* button */
.button-primary {
  background-color: var(--color-text-main);
  color: var(--color-background-main);
  padding: 4.5px calc(var(--spacing) * 3);
  font-size: 15px;
  border: 1px solid var(--color-text-main);
  border-radius: 25px;
  letter-spacing: 0.10px;
}

.button-secondary {
  background-color: var(--color-background-soft);
  color: var(--color-text-main);
  padding: 4.5px calc(var(--spacing) * 3);
  font-size: 14px;
  border-radius: 25px;
}