footer {
  border-top: 1px solid var(--color-border-surface);
  background-color: var(--color-background-soft);
}

.footer-container {
  max-width: 1022px;
  margin: 0 auto;
  border-right: 1px solid var(--color-border-surface);
  border-left: 1px solid var(--color-border-surface);
}

.footer-main {
  padding-bottom: calc(var(--spacing) * 6);
  padding-top: calc(var(--spacing) * 16);
  padding-inline: calc(var(--spacing) * 8);
  border-bottom: 1px solid var(--color-border-surface);
}

.footer-connect {
  padding-inline: 5px;
}

.footer-nav {
  padding-top: calc(var(--spacing) * 12);
  padding-bottom: calc(var(--spacing) * 18);
  padding-inline: calc(var(--spacing) * 8);
  border-bottom: 1px solid var(--color-border-surface);
  grid-template-columns: repeat(5, 1fr);
}

.nav-link-heading {
  text-transform: uppercase;
  color: var(--color-muted);
  letter-spacing: .65px;
  font-weight: 300;
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);
}

.nav-links {
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--spacing) * 1);
}

.nav-link {
  display: block;
  color: var(--color-text-main);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);
  border-radius: 25px;
}

.nav-link:hover {
  background-color: var(--color-background-soft);
}

.footer-security {
  padding-block: calc(var(--spacing) * 6);
  padding-inline: calc(var(--spacing) * 8);
  border-bottom: 1px solid var(--color-border-surface);
  justify-content: flex-start;
}

.copyright-container {
  padding-top: calc(var(--spacing) * 8);
  padding-bottom: calc(var(--spacing) * 24);
  padding-inline: calc(var(--spacing) * 8);
}

.copyright-container a {
  color: var(--color-text-main);
  padding-block: calc(var(--spacing) * 1);
  padding-inline: calc(var(--spacing) * 3);
  background-color: var(--color-background-soft);
  font-size: 13px;
  font-weight: 300;
  line-height: 150%;
  border-radius: 15px;
}

.system-status {
  color: var(--color-brand);
}

.copyright {
  color: var(--color-muted);
  font-weight: 300;
}

.theme-selector {
  padding: calc(var(--spacing)*.5);
  background-color: var(--color-background-soft);
  border-radius: 15px;
}

.theme-button {
  padding: 2px 6px;
  border-radius: 15px;
}

.selected-theme {
  background-color: var(--color-background-main);
}

.theme-button object {
  height: 12px;
  width: 12px;
}