.hero-bg-image {
  background-image: url('https://www.mintlify.com/hero/bg-dark.svg');
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: 100% -160px;
}

.hero-section-container {
  padding-top: calc(65.5px + 30px);
  padding-bottom: calc(var(--spacing) * 24);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-blog-cta {
  padding-block: calc(var(--spacing) * 1);
  padding-left: calc(var(--spacing) * 1);
  padding-right: calc(var(--spacing) * 2);
  gap: calc(var(--spacing) * 2.5);
  width: max-content;
  background-color: var(--color-border-soft);
  border-radius: 60px;
  margin-bottom: 45px;
}

.hero-blog-cta span {
  border-radius: 60px;
  background-color: var(--color-brand-light);
  text-transform: uppercase;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 2);
  color: var(--color-white);
}

.hero-blog-cta p {
  letter-spacing: 0.10px;
}

.blog-arrow {
  height: 16px;
}

.hero-heading {
  font-size: max(2.5rem, min(4vw, 4rem));
  letter-spacing: -.02em;
  font-weight: 600;
  max-width: 43rem;
  text-align: center;
  line-height: 115%;
}

.hero-desc {
  margin-top: calc(var(--spacing) * 6);
  max-width: 29.5rem;
  text-align: center;
}

.hero-form {
  margin-top: calc(var(--spacing) * 8);
  padding: calc(var(--spacing) * 1);
  border: 1px solid var(--color-border-soft);
  background-color: var(--color-border-soft);
  gap: calc(var(--spacing) * 1.5);
  border-radius: 60px;
  max-width: 22.5rem;
  width: 100%;
}

.hero-form input {
  padding-inline: calc(var(--spacing) * 3);
  height: calc(var(--spacing) * 8);
  color: var(--color-text-main);
  outline-style: none;
}

.hero-form button {
  padding-block: 6px;
  padding-inline: calc(var(--spacing) * 3);
  display: inline-flex;
}

.hero-image-container {
  border: 3px solid var(--color-background-soft);
  border-bottom-width: 0px;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  overflow: hidden;
}

/* trusted companies section */
.companies-container {
  padding-top: calc(var(--spacing) * 18);
  padding-bottom: calc(var(--spacing) * 36);
  max-width: 64rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: calc(var(--spacing)*2);
  row-gap: calc(var(--spacing) * 7);
}

.company {
  justify-content: center;
  height: calc(var(--spacing) * 16);
}

/* featured highlight section */
.feature-highlight-container {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 9rem;
}

.featured-heading,
.featured-desc {
  text-align: center;
}

.heading-container {
  max-width: max-content;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
  padding-inline: calc(var(--spacing) * 8);
  padding-block: calc(var(--spacing) * 12);
}

.featured-desc,
.featured-card-desc {
  max-width: 40.5rem;
}

.featured-card-container,
.featured-card-container-row {
  gap: calc(var(--spacing) * 6);
}

.featured-card-container {
  flex-direction: column;
}

.featured-card {
  padding: calc(var(--spacing) * 1.5);
  border: 1px solid var(--color-border-sub);
  border-radius: 1.5rem;
}

.featured-card-details {
  flex-direction: column;
  align-items: flex-start;
  padding: calc(var(--spacing) * 6);
  gap: calc(var(--spacing) * 4);
}

.main-card .featured-card-details {
  align-items: center;
  width: 100%;
}

.main-card p {
  max-width: 35rem;
  text-align: center;
}

.featured-card-desc {
  max-width: 22rem;
}

/* Enterprise Features Section */
#enterprise-features {
  background-color: var(--color-background-soft);
  padding-block: calc(var(--spacing) * 24);
}

.enterprise-features-container {
  max-width: 64rem;
  margin: 0 auto;
}

.enterprise-features-header {
  align-items: end;
  gap: calc(var(--spacing) * 6);
  padding-bottom: calc(var(--spacing) * 12);
}

.enterprise-features-heading {
  align-items: flex-start;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  max-width: 40rem;
}

.enterprise-features-button {
  display: inline-flex;
  padding: 9px 24px;
  font-size: 16px;
}

.enterprise-details-container {
  margin-block: calc(var(--spacing) * 6);
  gap: calc(var(--spacing) * 12);
  padding-bottom: calc(var(--spacing) * 12);
}

.enterprise-details-item object {
  height: calc(var(--spacing) * 8);
  width: calc(var(--spacing) * 8);
}

.enterprise-details-item h4 {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
}

.enterprise-companies-container {
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.enterprise-companies {
  padding-block: 20px;
  width: 100%;
}

/* Customer Stories section */
#customer-stories {
  padding-block: calc(var(--spacing) * 12);
  ;
}

.stories-header-container {
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 12);
}

.stories-header-container p {
  max-width: 39rem;
  text-align: center;
}

.story-card-container {
  padding-inline: 18%;
  overflow: visible;
  gap: calc(var(--spacing) * 4);
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.story-card-container::-webkit-scrollbar {
  display: none;
}

.story-card {
  flex-direction: column;
  width: 394px;
}

.story-card-img {
  height: 290px;
  width: 394px;
  border-radius: 1rem;
  margin-bottom: calc(var(--spacing) * 2);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story-card-img object {
  margin: 0 auto;
}

#story-card-1 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fperplexity.png&w=640&q=75');
}

#story-card-2 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fx.png&w=640&q=75');
}

#story-card-3 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fkalshi.png&w=640&q=75');
}

#story-card-4 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fcognition.png&w=640&q=75');
}

#story-card-5 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Ftogetherai.png&w=640&q=75');
}

#story-card-6 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fvercel.png&w=1080&q=75');
}

#story-card-7 {
  background-image: url('https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fanaconda.png&w=1080&q=75');
}

.story-card-detail {
  align-items: flex-start;
  flex-direction: column;
  gap: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 3);
}

.story-card:hover .story-card-detail button {
  color: var(--color-brand);
}

.story-card:hover .story-card-img {
  opacity: 0.7;
}

.arrow-container {
  padding-top: calc(var(--spacing) * 12);
}

.arrow-container div {
  justify-content: center;
  gap: 10px;
}

.arrow-container button {
  width: 30px;
  height: 30px;
}

.inverted {
  transform: rotate(180deg);
}

/* Documentation Preview Section */
.documentation-preview {
  max-width: 998px;
  margin: 0 auto;
  padding-block: 7.5rem;
  padding-inline: calc(var(--spacing) * 6);

}

.documentation-preview-container {
  flex-direction: column;
}

.documentation-preview-container h3 {
  text-align: center;
  margin: 0 auto;
  max-width: 480px
}

.documentation-preview-container>p {
  text-align: center;
  margin: 0 auto;
  max-width: 540px;
  margin-top: calc(var(--spacing) * 4);
}

.documentation-preview-buttons {
  margin-top: calc(var(--spacing) * 12);
  gap: calc(var(--spacing) * 2);
}

.documentation-preview-buttons a {
  display: inline-flex;
  padding: 9px 24px;
  font-size: 16px;
}

.doc-start {
  margin-top: calc(var(--spacing) * 14);
}

.divider {
  border-right: 1px solid var(--color-border-surface);
}

.doc-start-section {
  flex-direction: column;
  gap: calc(var(--spacing) * 8);
  padding: calc(var(--spacing) * 8);
}

.doc-start-section .flex {
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  font-weight: 300;
}

.icon-container {
  border: 1px solid var(--color-border-soft);
  padding: calc(var(--spacing) * 2.5);
  height: 54px;
  width: 54px;
  border-radius: 1rem;
}

.doc-link {
  color: var(--color-brand);
  font-weight: 300;
  line-height: 24px;
  font-weight: 300;
  cursor: pointer;
}