:root {
  --twoslash-border-color: #222526;
  --twoslash-popup-bg: #151819;
  --twoslash-highlighted-border: rgba(255, 165, 0, .5);
  --twoslash-highlighted-bg: rgba(255, 165, 0, .19);
  --twoslash-unmatched-color: #aaa;
  --twoslash-cursor-color: rgba(187, 187, 187, .733);
  --twoslash-error-color: #ff6b6b;
  --twoslash-error-bg: rgba(255, 107, 107, .19);
  --twoslash-warn-color: orange;
  --twoslash-warn-bg: rgba(255, 165, 0, .19);
  --twoslash-tag-color: #6bb6ff;
  --twoslash-tag-bg: rgba(107, 182, 255, .19);
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #4ade80;
  --twoslash-tag-annotate-bg: rgba(74, 222, 128, .19);
  --color-background-main: lab(2.42579% -.165291 -.470081);
  --color-background-invert: lab(100% 0 0);
  --color-text-main: lab(100% 0 0);
  --color-text-invert: lab(2.42579% -.165291 -.470081);
  --color-text-soft: lab(100% 0 0/.7);
  --color-text-sub: lab(100% 0 0/.6);
  --color-border-sub: lab(100% 0 0/.07);
  --color-background-soft: lab(100% 0 0/.05);
  --color-border-surface: lab(100% 0 0/.05);
  --color-muted: lab(100% 0 0/.5);
  --color-border-soft: lab(100% 0 0/.15);
  --color-brand: lab(79.9844% -59.6292 22.5096);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
  --color-border-solid: lab(100% 0 0);
  --color-muted-invert: lab(2.42579% -.165291 -.470081/.5);
  --twoslash-underline-color: currentColor;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: rgba(0, 0, 0, .08) 0px 1px 4px;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;
  --twoslash-text-size: .8rem;
  --twoslash-docs-tag-style: italic;

  /* font */
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
  --font-inter: "inter", "inter Fallback";

  /* typography */
  --spacing: .25rem;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../media/4fa387ec64143e14-s.c1fdd6c2.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../media/bbc41e54d2fcbd21-s.799d8ef8.woff2)format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/fonts/797e433ab948586e-s.p.dbea232f.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

@font-face {
  font-family: inter;
  src: url(../assets/fonts/InterVariable-s.p.494bb210.ttf)format("truetype");
  font-display: swap;
}

@font-face {
  font-family: inter Fallback;
  src: local(Arial);
  ascent-override: 89.79%;
  descent-override: 22.36%;
  line-gap-override: 0.0%;
  size-adjust: 107.89%
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-main);
  font-family: var(--font-inter);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  opacity: 1;
  background-color: transparent;
  border: none;
  border-radius: 0;
}